.card {
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: map-get($colors, 'white');
    &--raised {
        box-shadow: map-get($box-shadows, '4');
    }
    &--linked:hover {
        box-shadow: map-get($box-shadows, '12');
    }
    &__link::after {
        position: absolute;
        top:0;
        right:0;
        bottom: 0;
        left: 0;
        content: "";
        cursor: pointer;
    }
    &__badge {
        position: absolute;
        top: rem(12);
        right: rem(12);
        @include typesize(14,18);
        padding: rem(4) rem(8);
        box-shadow: map-get($box-shadows, '3');
        &--default {
            background-color: map-get($colors, 'black');
            color: map-get($colors, 'white');
        }
        &--accent {
            background-color: map-get($colors, 'green');
            color: map-get($colors, 'white');
        }
    }
    &__section {
        border-bottom: 1px solid map-get($colors, 'grey-light');
        padding: rem(16);
    }
    &__section:last-child {
        border-bottom: 0 none;
    }
}
