@import "align-content";
@import "align-items";
@import "align-self";
@import "background-color";
@import "border-color";
@import "border-style";
@import "border-width";
@import "color";
@import "cursor";
@import "display";
@import "flex-direction";
@import "flex-wrap";
@import "flex";

@import "float";
@import "font-family";
@import "font-size";
@import "font-style";
@import "font-weight";
@import "height";
@import "justify-content";
@import "letter-spacing";

@import "line-height";
@import "margin";
@import "padding";
@import "position";
@import "text-align";
@import "text-decoration";
@import "text-transform";
@import "width";
