$height-settings: (
    'responsive': true,
    'hover': false,
    'focus': false,
    'classname' : 'h',
    'property' : 'height'
);


@include utility($height-settings, $sizes);


$min-height-settings: (
    'responsive': true,
    'hover': false,
    'focus': false,
    'classname' : 'min-h',
    'property' : 'min-height'
);


@include utility($min-height-settings, $sizes);


$max-height-settings: (
    'responsive': true,
    'hover': false,
    'focus': false,
    'classname' : 'max-h',
    'property' : 'max-height'
);


@include utility($max-height-settings, $sizes);
