$margin-settings: (
    'responsive': true,
    'hover': false,
    'focus': false,
    'classname' : 'm',
    'property' : 'margin'
);


@include utility($margin-settings, $spacings);


$margin-top-settings: (
    'responsive': true,
    'hover': false,
    'focus': false,
    'classname' : 'mt',
    'property' : 'margin-top'
);


@include utility($margin-top-settings, $spacings);


$margin-right-settings: (
    'responsive': true,
    'hover': false,
    'focus': false,
    'classname' : 'mr',
    'property' : 'margin-right'
);


@include utility($margin-right-settings, $spacings);


$margin-bottom-settings: (
    'responsive': true,
    'hover': false,
    'focus': false,
    'classname' : 'mb',
    'property' : 'margin-bottom'
);


@include utility($margin-bottom-settings, $spacings);


$margin-left-settings: (
    'responsive': true,
    'hover': false,
    'focus': false,
    'classname' : 'ml',
    'property' : 'margin-left'
);


@include utility($margin-left-settings, $spacings);
