$padding-settings: (
    'responsive': true,
    'hover': false,
    'focus': false,
    'classname' : 'p',
    'property' : 'padding'
);


@include utility($padding-settings, $spacings);


$padding-top-settings: (
    'responsive': true,
    'hover': false,
    'focus': false,
    'classname' : 'pt',
    'property' : 'padding-top'
);


@include utility($padding-top-settings, $spacings);


$padding-right-settings: (
    'responsive': true,
    'hover': false,
    'focus': false,
    'classname' : 'pr',
    'property' : 'padding-right'
);


@include utility($padding-right-settings, $spacings);


$padding-bottom-settings: (
    'responsive': true,
    'hover': false,
    'focus': false,
    'classname' : 'pb',
    'property' : 'padding-bottom'
);


@include utility($padding-bottom-settings, $spacings);


$padding-left-settings: (
    'responsive': true,
    'hover': false,
    'focus': false,
    'classname' : 'pl',
    'property' : 'padding-left'
);


@include utility($padding-left-settings, $spacings);
