// Centers the contents of the element horizontaly, verticaly or in both directions.

.frame-h {
    display: flex;
    justify-content: center;
}

.frame-v {
    display: flex;
    align-items: center;
}

.frame {
    display: flex;
    align-items: center;
    justify-content: center;
}
