.container {
    width: 100%;
    @include mq('sm') {
        width: rem(map-get($media-queries, 'sm'));
    }
    @include mq('md') {
        width: rem(map-get($media-queries, 'md'));
    }
    @include mq('lg') {
        width: rem(map-get($media-queries, 'lg') - 24px);
    }
    @include mq('xl') {
        width: rem(map-get($media-queries, 'xl') - 24px);
    }
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.md__container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @include mq('md') {
        width: rem(map-get($media-queries, 'md'));
    }
    @include mq('lg') {
        width: rem(map-get($media-queries, 'lg') - 24px);
    }
    @include mq('xl') {
        width: rem(map-get($media-queries, 'xl') - 24px);
    }
}
.lg__container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @include mq('lg') {
        width: rem(map-get($media-queries, 'lg') - 24px);
    }
    @include mq('xl') {
        width: rem(map-get($media-queries, 'xl') - 24px);
    }
}

.xl__container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @include mq('xl') {
        width: rem(map-get($media-queries, 'xl') - 24px);
    }
}
