.generated {
    @include typesize(16, 24);
    p {
        margin-bottom: rem(16);
    }
    p:last-child {
        margin-bottom: 0;
    }
    h2 {
        @include typesize(20, 24);
        margin-bottom: rem(16);
        font-weight: 700;
    }
}
