$sizes : (
    '0'    : 0,
    '1'    : 1px,
    '2'    : 2px,
    '4'    : 4px,
    '8'    : 0.5rem,
    '12'   : 0.75rem,
    '16'   : 1rem,
    '24'   : 1.5rem,
    '32'   : 2rem,
    '40'   : 2.5rem,
    '48'   : 3rem,
    '56'   : 3.5rem,
    '64'   : 4rem,
    '72'   : 4.5rem,
    '80'   : 5rem,
    '96'   : 6rem,
    '120'  : 7.5rem,
    '144'  : 9rem,
    '192'  : 12rem,
    '240'  : 15rem,
    '336'  : 21rem,
    '432'  : 27rem,
    '480'  : 30rem,
    '528'  : 33rem,
    '1-5'  : 20%,
    '1-4'  : 25%,
    '1-3'  : 33.3333%,
    '2-5'  : 40%,
    '1-2'  : 50%,
    '3-5'  : 60%,
    '2-3'  : 66.6666%,
    '3-4'  : 75%,
    '4-5'  : 80%,
    'full' : 100%,
    'auto' : auto
);
