.button {
    font-family: map-get($font-families, 'sans');
    font-weight: 400;
    @include typesize(14, 32);
    height: rem(32);
    display: inline-block;
    padding-left: rem(16);
    padding-right: rem(16);
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    color: map-get($colors, 'white');
    box-shadow: map-get($box-shadows, '3');
    white-space: nowrap;
    &:hover {
        box-shadow: map-get($box-shadows, '6');
    }
    &:focus {
        box-shadow: map-get($box-shadows, 'outline');
    }
}

.button--default {
    background-color: map-get($colors, 'black');
    &:hover {
        background-color: map-get($colors, 'grey-darkest');
    }
}

.button--accent {
    background-color: map-get($colors, 'green');
    &:hover {
        background-color: map-get($colors, 'green-light');
    }
}

.button--danger {
    background-color: map-get($colors, 'red');
    &:hover {
        background-color: map-get($colors, 'red-light');
    }
}

.button--warn {
    background-color: map-get($colors, 'yellow');
    &:hover {
        background-color: map-get($colors, 'yellow-light');
    }
}
