.form__field {
    border: 1px solid map-get($colors, 'grey');
    background-color: map-get($colors, 'grey-lighter');
    width: 100%;
    padding: rem(8);
}
.form__field:focus {
    box-shadow: map-get($box-shadows, 'outline');
    background-color: map-get($colors, 'grey-lightest');
}

.form__field--error {
    border-color: map-get($colors, 'red-dark');
}

.form__label {
    color: map-get($colors, 'grey-darker');
    @include typesize(14, 24);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    display: block;
}

.form__input {
    height: rem(32);
}
